h1{
    color:white;
}

body{
    background-color: black;
    
}

.btn{
    background-color:inherit;
    border: solid 1 px white;
    border-radius: 10px ;
    text-decoration: none;
    color:white;
    padding: 5px;
    line-height:inherit;
    text-align: center;
    cursor: pointer;
    
}

.btn-primary{
  background-color: crimson;
}

.btn-succes{
 display: inline-block;   
 background-color: darkcyan;
 width: 70px;
 margin-top: 4px;
}
.btn-secondary{
 background-color: darkmagenta;
}